// mixins.scss

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-reset {
    border-radius: 0 !important;
    margin: 0 2px;
    width: 100%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: $secondary-color;
    }
}
