<mat-drawer-container class="main-container">
  <mat-drawer mode="side"
    opened
    class="file-structure">
    <div class="file-tree-container"
      (click)="selectRoot($event)">
      <div class="file-tree">
        <div class="controls">
          <button mat-flat-button
            color="primary"
            class="file-button"
            (click)="addFiles()"
            [disabled]="!isAddEnabled()">Add 50 Files</button>
          <button mat-flat-button
            color="accent"
            class="folder-button"
            (click)="addFolders()"
            [disabled]="!isAddEnabled()">Add 50 Folders</button>
        </div>

        <div cdkDropList
          [cdkDropListData]="nodes"
          id="main"
          [cdkDropListConnectedTo]="dropTargetIds"
          (cdkDropListDropped)="drop($event)"
          [cdkDropListSortingDisabled]="true"
          class="cdk-drop-list">
          <div *ngFor="let node of nodes"
            cdkDrag
            [cdkDragData]="node.id"
            (cdkDragMoved)="onDragMoved($event)">
            <ng-container *ngTemplateOutlet="tmplNode; context: { node: node }"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer>

  <mat-drawer-content class="editor-area">
    <h2>Code Editor</h2>
    <div *ngIf="selectedNode">
      <form (ngSubmit)="changeNodeName()"
        class="edit-form"
        #editForm="ngForm">
        <mat-form-field appearance="fill">
          <mat-label>Change Name</mat-label>
          <input matInput
            [(ngModel)]="selectedNodeName"
            name="nodeName"
            required>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Select Icon</mat-label>
          <mat-select [(ngModel)]="selectedNodeIcon"
            name="nodeIcon">
            <mat-option *ngFor="let icon of availableIcons"
              [value]="icon">
              {{ icon }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-raised-button
          color="primary"
          type="submit"
          [disabled]="editForm.invalid">Save</button>
      </form>
    </div>
    <div *ngIf="!selectedNode">
      <p>Select a file or folder to change its name</p>
    </div>
  </mat-drawer-content>

</mat-drawer-container>

<ng-template #tmplNode
  let-node="node">
  <div class="node-item"
    [attr.data-id]="node.id"
    [attr.id]="'node-' + node.id">
    <div class="node-title"
      (click)="toggleExpandNode(node, $event); selectNode(node, $event)"
      [ngClass]="{ 'selected': isSelected(node) }">
      <mat-icon>{{ node.icon }}</mat-icon>
      &nbsp;&nbsp;&nbsp;{{ node.id }}
    </div>

    <div *ngIf="node.isExpanded && node.isFolder"
      class="node-children"
      cdkDropList
      [cdkDropListData]="node.children"
      [id]="node.id"
      [cdkDropListConnectedTo]="dropTargetIds"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListSortingDisabled]="true">

      <div *ngFor="let child of node.children"
        cdkDrag
        [cdkDragData]="child.id"
        (cdkDragMoved)="onDragMoved($event)"
        (mousedown)="onDragStart($event)"
        (cdkDragEnded)="onDragEnd($event)">
        <ng-container *ngTemplateOutlet="tmplNode; context: { node: child }"></ng-container>
      </div>
    </div>
  </div>
</ng-template>