@import 'styles/colors';
@import 'styles/mixins';

.main-container {
    height: 100vh;
}

.file-structure {
    width: 300px;
    background-color: $primary-color;
    color: $text-color;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.file-tree-container {
    height: 100%;
    flex-grow: 1;
    cursor: pointer;
    position: relative;
}

.file-tree {
    padding: 10px;
}

.controls {
    @include flex-center;
    justify-content: space-between;
    padding: 10px;
}

.file-button,
.folder-button {
    @include button-reset;
}

.node-title {
    padding: 15px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
}

.node-title.dragging {
    background-color: transparent !important;
}

.node-title:hover {
    background-color: $secondary-color;
}

.drop-before {
    border-top: 2px solid $secondary-color;
}

.drop-after {
    border-bottom: 2px solid $secondary-color;
}

.drop-inside {
    background-color: $hover-color;
}

.node-children {
    margin-left: 20px;
    border-left: 2px solid $border-color;
}

.editor-area {
    padding: 20px;
    background-color: $background-dark;
    color: $text-color;
}

.editor-area h2 {
    color: $accent-color;
    margin-bottom: 20px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 40%;
    max-width: 400px;
}

mat-form-field,
button {
    width: 100%;
}

button {
    @include button-reset;
}

.selected {
    background-color: $secondary-color;
}
